#loginView {
    width: 80%;
    margin: 50px auto; 
}


.loginView p {
    margin-bottom: 30px;
}

#loginNavbar {
    background-color: red;
    height: 50px;
}

#loginNavbar p {
    display: inline;
}