#loginView {
    width: 80%;
    margin: 50px auto; 
    /* border: 1px solid black; */
}


.loginView p {
    margin-bottom: 30px;
}

#loginNavbar {
    background-color: red;
    height: 50px;
    /* display: inline; */
}

#loginNavbar p {
    display: inline;
}