.Navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 30px 220px;
}

.underline {
    border-bottom: 4px solid #648390;
    padding-left: 50px;
    padding-bottom: 15px;
}

.Navbar li {
    display: inline;
    margin-left: 20px;
    text-decoration: none;
    font-size: 110%;
}

.nav-item {
    text-decoration: none;
}
