.Navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: grey;
    height: 50px;
    padding-right: 10%;

}

.Navbar li {
    display: inline;
    margin-left: 20px;
    text-decoration: none;
    font-size: 110%;
    padding-top: 10px;



}



