.img-list {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

#img-card {
    background-color: #6f838b;
    min-width: 200px;
}

.favActive {
    color: purple;
} 